:root {
  --primary-color: #ff9d73;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
}

input {
  outline: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: RIDIBatang, serif;
}
